body {
        /*color: #54ff7c;*/
        color: #383636;
        background: dots_bkgrnd.jpg;
        width: 400px;
        font-family: 'Nova Flat';
/*        font-family: Roboto;*/
        padding: -5px;
        margin: -5px;
      }

li {
	margin-bottom: 2px;
	font-size: 12px;
	font-family: Roboto;
}

h1{
	font-size: 18px;
}

h2{
	font-size: 24px;
	text-align: center;
}

p{
	font-size: 10px;
	font-family: Roboto;
	background-color: white;
}

.col-xs-12{
    	background-color: #ffefef;
    	font-style: strong;
}


#title{
		font-size: 12px;
		font-family:'VT323', monospace;
    	padding-left: 15px;
    	background-color: grey;
}

/*#top-row{
    	background-color: transparent;
}

	#company-box{
	    	font-size: 18px;
	    	background-color: navy;
	    	text-align: center;
	    	
	}*/

/*	#stats-box{
	    	background-color: navy;
	    	font-size: 18px;
	}

		#stats{
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
		}


		#founders-box{
font-family: 'Roboto', sans-serif;

		}

		#founders-names{
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
		}

		#key-people-box{
font-family: 'Roboto', sans-serif;
		}

		#key-people{
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
		}

#second-row{

    	background-color: transparent;
}

	#employee-data{
			font-size: 18px;
			text-align: center;
			background-color: navy;
	}

	#gender-reg{
			font-size: 12px;
			font-family: 'Roboto', sans-serif;
	}

	#gender-reg-image{
	}

	#race-reg{
			font-size: 12px;
			font-family: 'Roboto', sans-serif;
	}

	#race-reg-image{

	}

#bottom-row{
    	background-color: transparent;
}

#leader-data{
		font-size: 18px;
		text-align: center;
		background-color: navy;
}

#gender-leader{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

#gender-leader-image{
}

#race-leader{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

#race-leader-image{

}
*/