body {
        /*color: #54ff7c; Turquoise */
        /*color: #383636;*/
        background-image: /dots_bkgrnd.jpg;
        width: 400px;
        font-family: 'Nova Flat';
/*        font-family: Roboto;*/
        padding: -5px;
        margin: -5px;
      }

li {
	margin-bottom: 2px;
	font-size: 12px;
	font-family: Roboto;
}

h1{
	font-size: 18px;
}

h2{
	font-size: 24px;
	color: white;
	text-align: center;
}

p{
	font-size: 10px;
	font-family: Roboto;
	background-color: white;
}

.col-xs-12{
    	/*background-color: #ffefef; pink*/
    	/*background-color: #8300ff; purple*/
    	/**background-color: #1000ff;*/
    	background-color: #51bcff;
    	font-style: strong;
}


#title{
		font-size: 12px;
		font-family:'VT323', monospace;
    	padding-left: 15px;
    	background-color: #d0ff00;
}

.col-xs-12 .col-md-12 .company-image{
	background-color: white;
}


