body {

        background-image: /dots_bkgrnd.jpg;
        width: 400px;
        font-family: 'Roboto', monospace;
        padding: -5px;
        margin: -5px;
      }

li {
	margin-bottom: 2px;
	font-size: 12px;
	font-family: Roboto;
	padding-right: 15px;
}

h1{
	font-size: 18px;
}

h2{
	font-size: 24px;
	color: white;
	text-align: center;
}

p{
	font-size: 12px;
	font-family: 'Roboto', monospace;
	background-color: white;
	padding-left: 10px;
}

.col-xs-12{
    	background-color: #4300ff;
    	font-family: 'Permanent Marker', cursive;
    	font-style: strong;
}


#title{
		font-size: 12px;
		/*font-family:'VT323', monospace;*/
		font-family: 'Permanent Marker', cursive;
    	padding-left: 15px;
    	background-color: #d0ff00;
}

#company-box{
	background-color: white;
	margin-right: 60px;
	margin-left: 60px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

